:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --border-debug: 1px solid red;
  --border-card: 1px solid grey;

  --box-shadow-card: 0px 0.2px 0.8px hsl(0deg 0% 0% / 0.49);

  --button-size: 0.8rem;
}

main {
  padding-bottom: 2rem;
}

/* Navbar */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--border-debug);
}

.header-container > h1 {
  padding: 3px;
  text-align: left;
}

.navbar-container {
  width: 100%;
  height: 30px;
}
.side-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: -2px 0 5px rgba(245, 244, 244, 0.3);
  padding: 1rem;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.navigation ul {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 20 0px;
  padding: 0 25px;
}

.navigation ul li {
  list-style: none;
  padding-right: 10px;
}

.hamburger {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  cursor: pointer;
  z-index: 10;
  margin-left: 0.5em;
  /* border: var(--border-debug);  */
}

.burger {
  width: 32px;
  height: 2px;
  background-color: black;
  border-radius: 2px;
  transition: all 0.3s ease;
}



/* Articles */
.articles {
  border: var(--border-debug);
}

.article-card {
  /* for debug */
  /* border: 1px solid blue; */
  margin: 1rem;
}

.article-content-container {
  padding: 10px;
  border-radius: 5px;
  min-height: 3rem;
  margin: 1rem;
}

.article-title {
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.5rem;
}

.article-content {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
/* Only works on desktop and is ugly - change this */
.article-content-container:hover {
  border: var(--border-debug);
  box-shadow: 10px 0px 10px black;
}
/* .article-img {
  display: flex;
  justify-content: center;
}

.article-img > img {
  height: 10rem;
  width: 100%;
} */

/* VOTES */

.votes-container {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
  align-items: center;
}

.votes-container > button {
  border-radius: 50px;
  font-size: 0.5rem;
}

.article-comments {
  display: flex;
  justify-content: start;
}

.article-comments > button {
  font-size: var(--button-size);
}

/* SINGLE ARTICLE PAGE */
/* #single-article-title {
  
} */

/* COMMENTS */

/* Outer box */
.comment-card {
  padding: 5px;
  min-height: 3rem;
  margin: 1rem;
}

/* individual comment */
.comment-box {
  /* DEFINITELY NEEDS CHANGING */
  -moz-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  padding: 0.5em;
}

.comment-author-date {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.comment-author-date > h3 {
  font-size: 1em;
}

/* Footer */

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc;
  z-index: 1000;
}

.footer-container > button {
  font-size: 0.8rem;
}
