:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --border-debug: 1px solid red;
  --border-card: 1px solid grey;

  --box-shadow-card: 0px 0.2px 0.8px hsl(0deg 0% 0% / 0.49);

  --button-size: 0.8rem;
}

main {
  padding-bottom: 2rem;
}

/* Navbar */

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: var(--border-debug);
}

/* Articles */
.articles {
  border: var(--border-debug);
}

.article-card {
  /* for debug */
  /* border: 1px solid blue; */
  margin: 1rem;
}

.article-content-container {
  padding: 10px;
  border-radius: 5px;
  min-height: 3rem;
  margin: 1rem;
}

.article-title {
  text-align: center;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.5rem;
}

.article-content {
  display: flex;
  justify-content: space-between;
  font-style: italic;
}
.article-content-container:hover {
  border: var(--border-debug);
  box-shadow: 10px 0px 10px black;
}
/* .article-img {
  display: flex;
  justify-content: center;
}

.article-img > img {
  height: 10rem;
  width: 100%;
} */

.votes-container {
  display: flex;
  justify-content: space-around;
  margin: 0.5rem;
  align-items: center;
}

.votes-container > button {
  border-radius: 50px;
  font-size: 0.5rem;
}

.article-comments {
  display: flex;
  justify-content: start;
}

.article-comments > button {
  font-size: var(--button-size);
}

/* Footer */

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid #ccc; /* optional styling */
  z-index: 1000;
}

.footer-container > button {
  font-size: 0.8rem;
}
