:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --border-debug: 1px solid red;
}

/* Navbar */

.header-container {
  display: flex;
  justify-content: center;
  border: var(--border-debug);
}

/* Articles */
.articles {
  border: var(--border-debug);
}

.article-card {
  /* for debug */
  /* border: 1px solid blue; */
  margin: 1rem;
}

.article-content-container {
  border: var(--border-debug);
  padding: 10px;
  border-radius: 5px;
  min-height: 3rem;
}

.article-content {
  display: flex;
  justify-content: space-between;
}

.article-img {
  display: flex;
  justify-content: center;
}

.article-img > img {
  height: 10rem;
  width: 100%;
}
